*{
    margin: 0;
}

body {
    font-family: sans-serif;
    background-color: #fff2f3;

}


 
.container{
    max-width: 1200px ;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
}



nav{
    display:flex;
    justify-content: space-between;
     color: #737373;
     padding: 15px;
     margin: 10px;
}

nav ul{
    list-style: none;
    display: flex;
    gap:21px;
    top: 17px;
   
}
nav ul li{
   
}


h1{
    color: black;
    padding-left: 136px;
}

button{

gap: 45px;
border-radius: 5px ;
text-decoration: none;
background-color:#96BB7C;
color: azure;
border: 0;
cursor: pointer;


}

h5{
    color: #96BB7C;
}

h2{
   
font-size: 58px;
font-weight: 700;
line-height: 80px;
text-align: left;
color: #252B42;
}

.opp{
    font-size: 58px;
    font-weight: 700;
    line-height: 80px;
    text-align: left;
    color: #252B42; 
}


h4{
    color: #737373;

}

 .work{
    color: #737373;
 } 



.btn2{
    padding: 15px 40px 15px 40px;
    border-radius: 5px;
    gap: 10px;
    cursor: pointer;
}
 
.btn3{
    padding: 15px 40px 15px 40px;
    border-radius: 5px;
    border-color: #96BB7C;
    border: 2px;
    gap: 10px;
    color:#96BB7C;
    background-color: white;
    cursor: pointer;

    
}

.btn{
    color: #96BB7C;
    background-color: #fff2f3;
    padding-left: 250px;
    cursor: pointer;
}
  


img{
  
   padding-left:750px;
   margin-top:-320px;

}

h3{
    font-size: 40px;
    color: #252B42;
}

h6{
    font-size: 18px;
}

p{
    color: #737373;
}

i{
    width: Hug (70px)px;
    height: Hug (76px)px;
    padding: 22px 19px 22px 19px;
    gap: 10px;
    border-radius: 10px;
    color: white;
    background-color: #96BB7C;
 
}

a{
    color: #96BB7C;
}

.red-line{
    background-color: red;
    width: 94px;
    height: 7px;
}

.rd-line{
    background-color: red;
    width: 50px;
    height: 2px;
}

.card{
    
    box-shadow: 0px 0px 10px rgb(90, 86, 86);
    background: #FFFFFF;
    width: Fixed (249px)px;
    height: Hug (292px)px;
    padding: 45px 50px 45px 50px;
    gap: 20px;




    
}

.about{
    background-color: white;
    padding: auto;

}



.mt-200 {
    margin-top: 200px;
}

.mt-20{
    margin-top: 20px;
}

.mb-25{
    margin-bottom: 25px;
}

.mr-10{
    margin-right: 10px;
}

.ml-100{
    margin-left: 100px;
}

.mb-20{
    margin-bottom: 20px;
}

.ml-15{
    margin-left: 15px;
}


.row{
    display: flex;
    gap: 40px;
}

.col{
    margin-top: 300px;
    margin-bottom: 500px;
}

.action{
    background-color: white;
    
   
}

.xx-line{
    background-color: red;
    width: 94px;
    height: 7px;

}




.sctn{
    background-color: white;
   
}

.kfc{
    color: #96BB7C;
}

.pnl-png{
    margin-left: -1400px;
    margin-top: 800px;
    width: 209px;
    height: 402px;
}

.prgrph{
    margin-top: -680px;
    margin-left: 250px;

}

.crs{
    color: #96BB7C;

}

.aaa{
    color: #252B42;
}

.iii{
    color: #737373;
    font-size: 14px;
    background-color: white;
    margin-right: 30px;
    margin-top: 10px;
    padding: 0;
}

.cla{
    display: flex;
}

.hhh{
    font-size: 14px;
    color: #737373;
}

.fsfs{
    color: #BDBDBD;

}

.sfsf{
    color: #FFAB71;
    display: flex;
}

.iuu{
    color: #96BB7C;
    padding: 0;
    background-color: white;
    
}

.eww{
    color: #FFAB71;
    background-color: white;
    padding: 0;
}

.btn5{
    color: #ffffff;
    border: 1px;
    border-color: #96BB7C;
    border-radius: 37px;
    gap: 10px;
    padding: 10px 30px 10px 30px;

}

.snsrf{
    display: flex;
}

.pnsl-png{
    margin-top: -390px;
    margin-left: -150px;
  
}

.prgr{
    margin-left: 850px;
    margin-top: -370px;
}